<div class="container">
    <div class="left-menu">
        <app-moving-circle [name]="home" [color]="homeColor" routerLink="/home"></app-moving-circle>
        <app-moving-circle [name]="about" [color]="aboutColor" routerLink="/about"></app-moving-circle>
        <app-moving-circle [name]="programs" [color]="programsColor" routerLink="/programs"></app-moving-circle>
    </div>
    <div class="circle-container">
        <div class="circle-image">
            <img src="assets/wbeats.jpg" alt="Avatar">
        </div>
    </div>
    <div class="right-menu">
        <app-moving-circle [name]="admissions" [color]="admissionsColor" routerLink="/admissions"></app-moving-circle>
        <app-moving-circle [name]="careers" [color]="careersColor" routerLink="/careers"></app-moving-circle>
        <app-moving-circle [name]="contact" [color]="contactColor" routerLink="contact"></app-moving-circle>
    </div>
</div>


  


