.circle-image {
    width: 350px; /* You can adjust the size according to your preference */
    height: 350px ;
    border-radius: 50%; /* This makes the element circular */
    overflow: hidden; /* This hides any part of the image outside the circle */
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-moving-circle {
    margin-right: 1px;
}

.circle-container {
    justify-content: center;
    align-items: center;
}
  
.circle-image img {
    height: 50%;
    display: inline-block;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-announcements, .right-announcements {
    margin-top: 4%;
    background-color: gray;
    height: 250px;
    width: 17%;
}