


 .toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: skyblue;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
    width: 200px;
    height: 70px;
  }

  .toolbar span {
    font-size: x-large;
    text-align: center;;
  }

  .spacer {
    flex: 1;
  }