<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="icon-container">
    <div class="start-icons">
        
    </div>
    <div class="middle-icons">
        <!-- Place middle icons here -->
        <a href="https://www.facebook.com/murali.kumanduri" target="_blank" rel="noopener noreferrer">
            <img src="assets/facebook.png" alt="Facebook" />
        </a>

        <a href="https://twitter.com/mkumandu" target="_blank" rel="noopener noreferrer">
            <img src="assets/twitter.png" alt="Twitter" />
        </a>

        <a href="https://www.instagram.com/muralikumanduri/" target="_blank" rel="noopener noreferrer">
            <img src="assets/instagram.png" alt="Instagram" />
        </a>
        <a href="mailto:wonderbeatsthekidsparadise@gmail.com" target="_blank" rel="noopener noreferrer">
            <img src="assets/email.png" alt="Email" />
        </a>
        <a href="https://www.linkedin.com/in/wonder-beats-934996287/" target="_blank" rel="noopener noreferrer">
            <img src="assets/linkedin.png" alt="LinkedIn" />
        </a>
        <a href="https://www.youtube.com/@wonderbeats5686/" target="_blank" rel="noopener noreferrer">
            <img src="assets/youtube.png" alt="YouTube" />
        </a>
    </div>
    <div class="right-icons">
        <!-- Place icons on the right here -->
        <p>Curriculam powered by</p>
        <a href="https://kreedology.com/" target="_blank" rel="noopener noreferrer">
            <img src="assets/kreedo.webp" alt="Kreedology" />
        </a>
    </div>
</div>