

.icon-container {
  display: flex;
  justify-content: space-between; /* This will create space between middle and end */
  background-color: black;
  align-items: center; /* This will vertically center the icons */
}

.middle-icons {
  margin-left: 280px;
  display: flex;
  justify-content: center;
}

.middle-icons a img {
  height: 25px;
  margin-right: 25px;
}

.right-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
  
.right-icons p {
  color: white;
  margin-top: 12px;
  margin-right: 15px; 
}

.right-icons a {
  align-items: center; /* This will vertically center the icons */
}

.right-icons a img {
  height: 35px;
  display: inline-block;
/*  margin-top: 5px; */
}